
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.home{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 39px;
    border-radius: 12px;
}
.slider{
  width: 100%;
  background-color: #F1ECE6;
  height: 300px;
  border-radius: 12px;
}
.cardSection{
    width: 100%;
    min-height: 400px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 2px;

}
.header>h1{
    color: #000;
    font-family: 'Inter',sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.input{
    display: flex;
    align-items: center;
    padding:10px;
    border: 0.4px solid #F3F3F3;
    border-radius: 12px;

}
.input>img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.input>input{
    padding:5px;
    font-size: 25px;
    border: none;
    background: none;
    outline: none;
    color:#C4C4C4;
}
.main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:40px;
    
}