@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.basketwrap{
    position:absolute;
    width: 100%;
    background-color: rgba(246, 246, 246, 0);
    height:100vh;
    top: 0px;
    right: 0px;
    z-index: 20;
    height:-webkit-fill-available

  
}
.basket{
    position:fixed;
    height:100%;
    width: 30%;
    background-color: rgb(255, 255, 255);
    top: 0px;
    right: 0px;
    z-index: 21;
    gap: 30px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    justify-content: start;
}
.basket>img{
  width: 200px;
  height: 200px;
}

.basketwrap::before{
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.408);
    z-index: 19;
  }

  .wrap{
    width: 80%;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    justify-content: center;

  }
  .wrap>h1{
    color: #000;
    font-family: 'Inter',sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .wrap>p{
    color: #000;
    text-align: center;
    font-family: 'Inter',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.4;
  }
  .button{
    color: #FFF;
    text-align: center;
    font-family: 'Inter',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #9DD458;
    padding: 19px;
    width: 90%;
    border-radius: 18px;
    cursor: pointer;

  }

.hstack{
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding:4px;
}
.close{
  width: 40px;
  height: 40px;
  background-color: #F2F2F2;
  padding:5px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .3s;
}
.close:hover{
  background-color: red;
  fill: white;
}
.close>img{
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.cards{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  padding:2px;
  align-items: center;
  justify-content: space-between;
}
.pay{
  color: #FFF;
  text-align: center;
  font-family: 'Inter',sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: #9DD458;
  padding: 19px;
  width: 90%;
  border-radius: 18px;
  cursor: pointer;
}

.item{
  
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  padding: 5px;
  border: 1px solid #F3F3F3;
  border-radius: 12px;


}
.closes{
  width: 40px;
  height: 40px;
  background-color: #F2F2F2;
  padding:5px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .3s;
}

.imgs{
  width: 70px;
  height: 70px;
}
.imgs>img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.item>span{
  color: #000;
  font-family: 'Inter',sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}